<form class="form-horizontal"
      name="bookForm"
      novalidate
      ng-controller="booksEditController as vmEdit">
    <div class="panel panel-primary">
        <div class="panel-heading" style="font-size:large">
            {{vmEdit.title}}
        </div>
        <div class="panel-body">
            <fieldset>
                <legend>Book Information</legend>

                <div class="form-group"
                     ng-class="{'has-error':bookForm.inputCode.$invalid &&
                                    bookForm.inputCode.$dirty}">
                    <label class="col-md-2 control-label"
                           for="inputCode">Code</label>

                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputCode"
                               name="inputCode"
                               type="text"
                               placeholder="Book Code (required)"
                               ng-model="vmEdit.book.Code"
                               ng-pattern="/^[A-Z]{3}[-][0-9]{4}$/"
                               maxlength="8"
                               required>
                    </div>
                    <span class="help-block has-error" ng-show="bookForm.inputCode.$invalid">
                        Product Code is required
                    </span>
                    <div class="row">
                        <div class="col-md-offset-2">
                            <span class="help-block has-error" ng-show="bookForm.inputCode.$invalid">
                                Code is not valid. It must be in ABC-9999 format.
                            </span>
                        </div>
                    </div>
                    
                </div>

                <div class="form-group"
                     ng-class="{'has-error':bookForm.inputTitle.$invalid &&
                                    bookForm.inputTitle.$dirty}">
                    <label class="col-md-2 control-label"
                           for="inputTitle">Title</label>

                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputTitle"
                               name="inputTitle"
                               type="text"
                               placeholder="Title (required)"
                               ng-model="vmEdit.book.Title"
                               required
                               ng-minlength="1"
                               ng-maxlength="100" />
                    </div>
                    <span class="help-block has-error" ng-show="bookForm.inputTitle.$invalid">
                        <span>
                            Book title is required.
                        </span>
                    </span>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputAvailabilityDate">Availability</label>

                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputAvailabilityDate"
                               name="inputAvailabilityDate"
                               type="text"
                               placeholder="Release date (required)"
                               ng-model="vmEdit.book.ReleaseDate"
                               required />
                    </div>
                    <span class="help-block has-error" ng-show="bookForm.inputAvailabilityDate.$invalid">
                        <span>
                            Book availability date is required.
                        </span>
                    </span>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"
                           for="inputPrice">Price in {{currency}}</label>

                    <div class="col-md-4">
                        <input class="form-control"
                               id="inputPrice"
                               name="inputPrice"
                               type="text"
                               placeholder="Price (required)"
                               ng-model="vmEdit.book.Price"
                               required />
                    </div>
                    <span class="help-block has-error" ng-show="bookForm.inputPrice.$invalid">
                        <span>
                            Book price is required.
                        </span>
                    </span>
                </div>

                <div class="form-group">
                    <div class="col-md-4 col-md-offset-2">
                        <span>
                            <button class="btn btn-primary"
                                    style="width:80px;margin-right:10px"
                                    ng-click="vmEdit.submit(bookForm)"
                                    ng-disabled="bookForm.$invalid">
                                Save
                            </button>
                        </span>
                        <span>
                            <button class="btn btn-default"
                                    style="width:70px"
                                    ng-click="vmEdit.cancel(bookForm)">
                                Cancel
                            </button>
                        </span>
                    </div>
                </div>

                <div class="form-group"
                     ng-show="vmEdit.message">
                    <div class="col-md-6">
                        <pre style="font: inherit">{{ vmEdit.message }}</pre>
                    </div>
                </div>

            </fieldset>
            <button class="btn btn-primary pull-left" ng-click="vmEdit.backToList()"><i class="glyphicon glyphicon-arrow-left"></i> Back to list</button>
        </div>
    </div>
</form>
